<table>
<tr> <%= link_to post.user.name,post.user  %> </tr>
<tr><%= post.created_at.strftime('%a, %d %b %Y %H:%M:%S')%></tr></br>
<tr><%= post.content %></td></tr>
<tr>
<td>
<% unless post.likes.find_by(user:current_user) %>
<%= button_to :like, likes_create_path(type:"Post",id:post.id) %>
<% else %>
<%= button_to :unlike, likes_destroy_path(type:"Post",id:post.id), method: :delete %>
<% end %>
</td>
<td><%= post.likes.count %></td>
</tr>
</table>
<%= render 'shared/comment', type:"Post", id:post.id %>

<%= pluralize( post.comments.count, 'comment' ) %>: </br>
<%= render post.comments %>

